

body {
    margin: 0px;
    background-image: url(../image/holly-macaron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
  
}

html {
    width: 90%;
    height: 100%;
    font-size: 1em;
}

.container {
   
    width: 90%;
    height: auto;
    margin-left: 1em;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;

    background-color: yellow;
}



header h1 {
    text-align: center;
    border-bottom: 3px solid #dda5b3;
    margin-top: 1em;
    padding-bottom: 1em;
    background-color: lightgray;
}

nav ul {
   list-style: none;
   line-height: 2.5em;
   padding-left: 0px;
   text-align: center;
   border-bottom: 3px solid #dda5b3;
   padding-bottom: 1em;
   background-color: lightblue;
}

nav ul li {
    font-size: 1.5em;
    color: #147238;
       
}

section {
    margin-left: 1em;
    margin-top: 3em;
    font-size: 1em;
    color:#E5E7E9;
    line-height: 2em;

}

footer {
    background-color: lightpink;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 2em;
    padding-top: 1em;
}

/* ---------- Media Queries ---------------*/

/* ---------- Tablets ------------------ */
@media all and (min-width: 768px) {

html {
    width: 100%;
}

header h1 {
    
    
    text-align: left;
    border-bottom: none;
}

nav ul {
    display: flex;
}

nav ul li {
    justify-content: space-between;

}

}


/*--- Desktop ---*/
@media all and (min-width: 1200px) {

html {
    width: 100%;
}

.container {
    width: 100%;
    height: auto;
    margin-left: 1em;
    display: flex;
   
    background-color: yellow;
}

header {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    background-color: pink;
}

header h1 {
    width: 20%;
    border-bottom: none;
    padding-bottom: none;

}

header nav {
   
    
    
}

nav ul {
    width: 30%;
    list-style: none;
    line-height: 2.5em;
    
    text-align: center;
    border-bottom: 3px solid #dda5b3;
    padding-bottom: 1em;
    justify-content: space-between;
    align-self: flex-start;
    background-color: lightblue;
}
 
nav ul li {
     font-size: 1.5em;
     color: #147238;
      
 
} 
}

